# flyctl launch added from .gitignore
# Binaries
**\*.exe
**\*.exe~
**\*.dll
**\*.so
**\*.dylib

# Build output
**\bin
**\build
**\out

# Go specific
**\vendor
**\*.test
**\*.out

# IDE/editor configs
**\.vscode
**\.idea
**\*.iml

# OS files
**\.DS_Store
**\Thumbs.db

# Logs and temporary files
**\*.log
**\tmp
fly.toml
